<h1>New Vote Card</h1>
<p>Enter your name and then vote. When you are finished click on the "Create Vote Card" button. This will submit your vote. If you wish to edit your vote later click on the "ALL VOTES" button in the menu bar, find your name and click edit. You can then change your vote. Be sure to click "Update Vote Card" when you are finished.</p>

<%= render 'form' %>

<%= link_to 'Back', "/" %>
