<h3>&#10057; If you brought a cookie please enter it to be voted on.</h3>
<h3>&#10053; To vote continue on to the Voting Page</h3>
<h2 style="color: #396; font-size: 150%">Enjoy yourselves and have a happy holiday season!</h2>
