      <div >
      <h1>Enter Your Cookie</h1>

      <%= render 'form' %>

      <%= link_to 'Back', entries_path %>
      </div>
      <div >
        <%= image_tag("cookie.gif", :alt => "Cookie") %> 
      </div>
